/* --------------------------------------------------
	[1. General]
----------------------------------------------------  */

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

::-moz-selection {
    color: #fff;
    background: #3f647f;
}

::selection {
    color: #fff;
    background: #3f647f;
}

.clear {
    clear: both;
}

/* CHECK THIS PLACE */

i.icon-md {
    font-size: 40px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
}

.icon-md-wrapper {
    padding: 15px;
}

.icon-md-text {
    overflow: hidden;
}

hr {
    margin: 30px 0;
}

/*Headings
------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    color: #555;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
}

h1 {
    font-size: 28px;
    line-height: 35px;
}

h2 {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 2px;
}

h3 {
    font-size: 20px;
    line-height: 27px;
}

h4 {
    font-weight: bold;
    line-height: 25px;
}

h5 {
    line-height: 20px;
}

h6 {
    line-height: 18px;
}

/* Globals */

.g-theme-text-color {
    color: #3f647f;
}

.g-heading {
    padding-bottom: 18px;
    position: relative;
    margin-top: -15px;
    margin-bottom: 30px;
}

    .g-heading:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 120px;
        margin-left: 0;
        border-bottom: 3px solid #3f647f;
    }

    .g-heading.v2:after {
        border-bottom: 3px solid #fff;
    }

    .g-heading.text-center:after {
        left: 50%;
        margin-left: -60px;
    }

    .g-heading.text-right:after {
        left: auto;
        right: 0;
        margin-left: 0;
    }

/*Media (Audio/Videos and Images)
------------------------------------*/
/*Images*/
img.img-bordered {
    padding: 3px !important;
    border: solid 1px #eee !important;
}

img.img-circle {
    border-radius: 50% !important;
}

img.image-sm {
    width: 50px;
    height: 50px;
}

img.image-md {
    width: 100px;
    height: 100px;
}

/*Spaces
------------------------------------*/
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0;
}

.no-top-space {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.no-bottom-space {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.content {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Rounded Styles
------------------------------------*/
.g-no-rounded {
    border-radius: 0;
}

.g-rounded-1 {
    border-radius: 1px;
}

.g-rounded-2 {
    border-radius: 2px;
}

.g-rounded-3 {
    border-radius: 3px;
}

.g-rounded-4 {
    border-radius: 4px;
}

.g-rounded-5 {
    border-radius: 5px;
}

.g-rounded-10 {
    border-radius: 10px;
}

.g-rounded-20 {
    border-radius: 20px;
}

.g-rounded-50x {
    border-radius: 50%;
}

.g-rounded-t4 {
    border-radius: 4px 4px 0 0;
}

.g-rounded-l4 {
    border-radius: 4px 0 0 4px;
}

.g-rounded-r4 {
    border-radius: 0 4px 4px 0;
}

.g-rounded-b4 {
    border-radius: 0 0 4px 4px;
}

/* Spaces
------------------------------------*/
.g-no-mb {
    margin-bottom: 0;
}

.g-no-padding {
    padding: 0;
}

.g-no-left-padding {
    padding-left: 0;
}

.g-no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Padding Spaces */
.g-padding-5 {
    padding: 5px;
}

.g-padding-10 {
    padding: 10px;
}

.g-padding-15 {
    padding: 15px;
}

.g-padding-20 {
    padding: 20px;
}

.g-padding-25 {
    padding: 25px;
}

.g-padding-30 {
    padding: 30px;
}

.g-padding-35 {
    padding: 35px;
}

.g-padding-40 {
    padding: 40px;
}

.g-padding-45 {
    padding: 45px;
}

.g-padding-50 {
    padding: 50px;
}

.g-pt-10 {
    padding-top: 10px;
}

.g-pt-20 {
    padding-top: 20px;
}

.g-pt-30 {
    padding-top: 30px;
}

.g-pt-35 {
    padding-top: 35px;
}

.g-pt-40 {
    padding-top: 40px;
}

.g-pt-50 {
    padding-top: 50px;
}

.g-pt-60 {
    padding-top: 60px;
}

.g-pt-70 {
    padding-top: 70px;
}

.g-pt-80 {
    padding-top: 80px;
}

.g-pt-85 {
    padding-top: 80px;
}

.g-pt-90 {
    padding-top: 90px;
}

.g-pt-100 {
    padding-top: 100px;
}

.g-pt-110 {
    padding-top: 110px;
}

.g-pt-120 {
    padding-top: 120px;
}

.g-pt-130 {
    padding-top: 130px;
}

.g-pt-140 {
    padding-top: 140px;
}

.g-pt-150 {
    padding-top: 150px;
}

.g-pt-160 {
    padding-top: 160px;
}

.g-pt-170 {
    padding-top: 170px;
}

.g-pb-10 {
    padding-bottom: 10px;
}

.g-pb-20 {
    padding-bottom: 20px;
}

.g-pb-30 {
    padding-bottom: 30px;
}

.g-pb-40 {
    padding-bottom: 40px;
}

.g-pb-50 {
    padding-bottom: 50px;
}

.g-pb-60 {
    padding-bottom: 60px;
}

.g-pb-70 {
    padding-bottom: 70px;
}

.g-pb-75 {
    padding-bottom: 75px;
}

.g-pb-80 {
    padding-bottom: 80px;
}

.g-pb-90 {
    padding-bottom: 90px;
}

.g-pb-100 {
    padding-bottom: 100px;
}

.g-pl-10 {
    padding-left: 10px;
}

.g-pl-20 {
    padding-left: 20px;
}

.g-pl-30 {
    padding-left: 30px;
}

.g-pl-40 {
    padding-left: 40px;
}

.g-pl-50 {
    padding-left: 50px;
}

.g-pl-60 {
    padding-left: 60px;
}

.g-pl-70 {
    padding-left: 70px;
}

.g-pl-80 {
    padding-left: 80px;
}

.g-pl-90 {
    padding-left: 90px;
}

.g-pl-100 {
    padding-left: 100px;
}

.g-pr-10 {
    padding-right: 10px;
}

.g-pr-20 {
    padding-right: 20px;
}

.g-pr-30 {
    padding-right: 30px;
}

.g-pr-40 {
    padding-right: 40px;
}

.g-pr-50 {
    padding-right: 50px;
}

.g-pr-60 {
    padding-right: 60px;
}

.g-pr-70 {
    padding-right: 70px;
}

.g-pr-80 {
    padding-right: 80px;
}

.g-pr-90 {
    padding-right: 90px;
}

.g-pr-100 {
    padding-right: 100px;
}

/* Margin Spaces */
.g-mt-10 {
    margin-top: 10px;
}

.g-mt-20 {
    margin-top: 20px;
}

.g-mt-30 {
    margin-top: 30px;
}

.g-mt-40 {
    margin-top: 40px;
}

.g-mt-50 {
    margin-top: 50px;
}

.g-mt-60 {
    margin-top: 60px;
}

.g-mt-70 {
    margin-top: 70px;
}

.g-mt-80 {
    margin-top: 80px;
}

.g-mt-90 {
    margin-top: 90px;
}

.g-mt-100 {
    margin-top: 100px;
}

.g-mb-10 {
    margin-bottom: 10px;
}

.g-mb-15 {
    margin-bottom: 15px;
}

.g-mb-20 {
    margin-bottom: 20px;
}

.g-mb-25 {
    margin-bottom: 25px;
}

.g-mb-30 {
    margin-bottom: 30px;
}

.g-mb-35 {
    margin-bottom: 35px;
}

.g-mb-40 {
    margin-bottom: 40px;
}

.g-mb-45 {
    margin-bottom: 45px;
}

.g-mb-50 {
    margin-bottom: 50px;
}

.g-mb-55 {
    margin-bottom: 55px;
}

.g-mb-60 {
    margin-bottom: 60px;
}

.g-mb-65 {
    margin-bottom: 65px;
}

.g-mb-70 {
    margin-bottom: 70px;
}

.g-mb-75 {
    margin-bottom: 75px;
}

.g-mb-80 {
    margin-bottom: 80px;
}

.g-mb-85 {
    margin-bottom: 85px;
}

.g-mb-90 {
    margin-bottom: 90px;
}

.g-mb-95 {
    margin-bottom: 95px;
}

.g-mb-100 {
    margin-bottom: 100px;
}

.g-ml-10 {
    margin-left: 10px;
}

.g-ml-20 {
    margin-left: 20px;
}

.g-ml-30 {
    margin-left: 30px;
}

.g-ml-40 {
    margin-left: 40px;
}

.g-ml-50 {
    margin-left: 50px;
}

.g-ml-60 {
    margin-left: 60px;
}

.g-ml-70 {
    margin-left: 70px;
}

.g-ml-80 {
    margin-left: 80px;
}

.g-ml-90 {
    margin-left: 90px;
}

.g-ml-100 {
    margin-left: 100px;
}

.g-mr-10 {
    margin-right: 10px;
}

.g-mr-20 {
    margin-right: 20px;
}

.g-mr-30 {
    margin-right: 30px;
}

.g-mr-40 {
    margin-right: 40px;
}

.g-mr-50 {
    margin-right: 50px;
}

.g-mr-60 {
    margin-right: 60px;
}

.g-mr-70 {
    margin-right: 70px;
}

.g-mr-80 {
    margin-right: 80px;
}

.g-mr-90 {
    margin-right: 90px;
}

.g-mr-100 {
    margin-right: 100px;
}

@media(max-width: 992px) {
    .g-sm-mb-20 {
        margin-bottom: 20px;
    }

    .g-sm-mb-30 {
        margin-bottom: 30px;
    }
}

/* Display Mobile/Tablet Resolutions */
@media (min-width: 600px) {
    .visible-2xs {
        display: none;
    }
}

@media (max-width: 600px) {
    .hidden-2xs {
        display: none;
    }

    .col-2xs-12 {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .visible-3xs {
        display: none;
    }
}

@media (max-width: 500px) {
    .hidden-3xs {
        display: none;
    }
}

/*Text Colors
------------------------------------*/
.color-light {
    color: #ffffff;
}

.color-inherit {
    color: inherit;
}

/*Background Colors
------------------------------------*/
.bg-color-dark {
    background-color: #555 !important;
    color: #fff;
}

/*Rounded and Circle Classes
------------------------------------*/
.no-rounded {
    border-radius: 0 !important;
}

.rounded {
    border-radius: 4px !important;
}

.rounded-x {
    border-radius: 50% !important;
}

.rounded-2x {
    border-radius: 10px !important;
}

.rounded-3x {
    border-radius: 15px !important;
}

.rounded-4x {
    border-radius: 20px !important;
}

.rounded-sm {
    border-radius: 2px !important;
}

.rounded-md {
    border-radius: 3px !important;
}

.rounded-top {
    border-radius: 4px 4px 0 0 !important;
}

.rounded-left {
    border-radius: 4px 0 0 4px !important;
}

.rounded-right {
    border-radius: 0 4px 4px 0 !important;
}

.rounded-bottom {
    border-radius: 0 0 4px 4px !important;
}

/*Button Styles
------------------------------------*/
.btn {
    box-shadow: none;
    border-radius: 0;
}

.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

    .btn-u:hover {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .btn-u.btn-block {
        text-align: center;
    }

a.btn-u {
    letter-spacing: 1px;
    padding: 6px 13px 5px;
}

.btn-u-sm,
a.btn-u-sm {
    padding: 3px 12px;
}

.btn-u-md,
a.btn-u-md {
    padding: 10px 20px;
}

.btn-u-lg,
a.btn-u-lg {
    font-size: 18px;
    padding: 10px 25px;
}

.btn-u-xs,
a.btn-u-xs {
    font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
}

/*Buttons Color*/
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
    background: #5fb611;
}

.btn-u-split.dropdown-toggle {
    border-left: solid 1px #5fb611;
}

.btn-u.btn-u-blue {
    background: #3498db;
}

    .btn-u.btn-u-blue:hover,
    .btn-u.btn-u-blue:focus,
    .btn-u.btn-u-blue:active,
    .btn-u.btn-u-blue.active,
    .open .dropdown-toggle.btn-u.btn-u-blue {
        background: #2980b9;
    }

.btn-u.btn-u-split-blue.dropdown-toggle {
    border-left: solid 1px #2980b9;
}

.btn-u.btn-u-white {
    color: #333;
    background: #fff;
}

    .btn-u.btn-u-white:hover,
    .btn-u.btn-u-white:focus,
    .btn-u.btn-u-white:active,
    .btn-u.btn-u-white.active,
    .open .dropdown-toggle.btn-u.btn-u-white {
        color: #fff;
        background: #3f647f;
    }

.btn-u.btn-u-red {
    background: #e74c3c;
}

    .btn-u.btn-u-red:hover,
    .btn-u.btn-u-red:focus,
    .btn-u.btn-u-red:active,
    .btn-u.btn-u-red.active,
    .open .dropdown-toggle.btn-u.btn-u-red {
        background: #c0392b;
    }

.btn-u.btn-u-split-red.dropdown-toggle {
    border-left: solid 1px #c0392b;
}

.btn-u.btn-u-orange {
    background: #e67e22;
}

    .btn-u.btn-u-orange:hover,
    .btn-u.btn-u-orange:focus,
    .btn-u.btn-u-orange:active,
    .btn-u.btn-u-orange.active,
    .open .dropdown-toggle.btn-u.btn-u-orange {
        background: #d35400;
    }

.btn-u.btn-u-split-orange.dropdown-toggle {
    border-left: solid 1px #d35400;
}

.btn-u.btn-u-sea {
    background: #1abc9c;
}

    .btn-u.btn-u-sea:hover,
    .btn-u.btn-u-sea:focus,
    .btn-u.btn-u-sea:active,
    .btn-u.btn-u-sea.active,
    .open .dropdown-toggle.btn-u.btn-u-sea {
        background: #16a085;
    }

.btn-u.btn-u-split-sea.dropdown-toggle {
    border-left: solid 1px #16a085;
}

.btn-u.btn-u-green {
    background: #2ecc71;
}

    .btn-u.btn-u-green:hover,
    .btn-u.btn-u-green:focus,
    .btn-u.btn-u-green:active,
    .btn-u.btn-u-green.active,
    .open .dropdown-toggle.btn-u.btn-u-green {
        background: #27ae60;
    }

.btn-u.btn-u-split-green.dropdown-toggle {
    border-left: solid 1px #27ae60;
}

.btn-u.btn-u-yellow {
    background: #f1c40f;
}

    .btn-u.btn-u-yellow:hover,
    .btn-u.btn-u-yellow:focus,
    .btn-u.btn-u-yellow:active,
    .btn-u.btn-u-yellow.active,
    .open .dropdown-toggle.btn-u.btn-u-yellow {
        background: #f39c12;
    }

.btn-u.btn-u-split-yellow.dropdown-toggle {
    border-left: solid 1px #f39c12;
}

.btn-u.btn-u-default {
    background: #95a5a6;
}

    .btn-u.btn-u-default:hover,
    .btn-u.btn-u-default:focus,
    .btn-u.btn-u-default:active,
    .btn-u.btn-u-default.active,
    .open .dropdown-toggle.btn-u.btn-u-default {
        background: #7f8c8d;
    }

.btn-u.btn-u-split-default.dropdown-toggle {
    border-left: solid 1px #7f8c8d;
}

.btn-u.btn-u-purple {
    background: #9b6bcc;
}

    .btn-u.btn-u-purple:hover,
    .btn-u.btn-u-purple:focus,
    .btn-u.btn-u-purple:active,
    .btn-u.btn-u-purple.active,
    .open .dropdown-toggle.btn-u.btn-u-purple {
        background: #814fb5;
    }

.btn-u.btn-u-split-purple.dropdown-toggle {
    border-left: solid 1px #814fb5;
}

.btn-u.btn-u-aqua {
    background: #27d7e7;
}

    .btn-u.btn-u-aqua:hover,
    .btn-u.btn-u-aqua:focus,
    .btn-u.btn-u-aqua:active,
    .btn-u.btn-u-aqua.active,
    .open .dropdown-toggle.btn-u.btn-u-aqua {
        background: #26bac8;
    }

.btn-u.btn-u-split-aqua.dropdown-toggle {
    border-left: solid 1px #26bac8;
}

.btn-u.btn-u-brown {
    background: #9c8061;
}

    .btn-u.btn-u-brown:hover,
    .btn-u.btn-u-brown:focus,
    .btn-u.btn-u-brown:active,
    .btn-u.btn-u-brown.active,
    .open .dropdown-toggle.btn-u.btn-u-brown {
        background: #81674b;
    }

.btn-u.btn-u-split-brown.dropdown-toggle {
    border-left: solid 1px #81674b;
}

.btn-u.btn-u-dark-blue {
    background: #4765a0;
}

    .btn-u.btn-u-dark-blue:hover,
    .btn-u.btn-u-dark-blue:focus,
    .btn-u.btn-u-dark-blue:active,
    .btn-u.btn-u-dark-blue.active,
    .open .dropdown-toggle.btn-u.btn-u-dark-blue {
        background: #324c80;
    }

.btn-u.btn-u-split-dark.dropdown-toggle {
    border-left: solid 1px #324c80;
}

.btn-u.btn-u-light-green {
    background: #79d5b3;
}

    .btn-u.btn-u-light-green:hover,
    .btn-u.btn-u-light-green:focus,
    .btn-u.btn-u-light-green:active,
    .btn-u.btn-u-light-green.active,
    .open .dropdown-toggle.btn-u.btn-u-light-green {
        background: #59b795;
    }

.btn-u.btn-u-split-light-green.dropdown-toggle {
    border-left: solid 1px #59b795;
}

.btn-u.btn-u-dark {
    background: #555;
}

    .btn-u.btn-u-dark:hover,
    .btn-u.btn-u-dark:focus,
    .btn-u.btn-u-dark:active,
    .btn-u.btn-u-dark.active,
    .open .dropdown-toggle.btn-u.btn-u-dark {
        background: #333;
    }

.btn-u.btn-u-split-dark.dropdown-toggle {
    border-left: solid 1px #333;
}

.btn-u.btn-u-light-grey {
    background: #585f69;
}

    .btn-u.btn-u-light-grey:hover,
    .btn-u.btn-u-light-grey:focus,
    .btn-u.btn-u-light-grey:active,
    .btn-u.btn-u-light-grey.active,
    .open .dropdown-toggle.btn-u.btn-u-light-grey {
        background: #484f58;
    }

.btn-u.btn-u-split-light-grey.dropdown-toggle {
    border-left: solid 1px #484f58;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
    color: #555;
    background: none;
    padding: 5px 13px;
    border: solid 1px transparent;
}

.btn-u.btn-brd-width-2 {
    padding: 7px 18px;
    border-width: 2px;
}

.btn-u.btn-brd:hover {
    background: none;
}

.btn-u.btn-brd:focus {
    background: none;
}

.btn-u.btn-brd.btn-brd-hover:hover {
    color: #fff !important;
}

.btn-u.btn-brd {
    border-color: #72c02c;
}

    .btn-u.btn-brd:hover {
        color: #5fb611;
        border-color: #5fb611;
    }

    .btn-u.btn-brd.btn-brd-hover:hover {
        background: #5fb611;
    }

    .btn-u.btn-brd.btn-u-blue {
        border-color: #3498db;
    }

        .btn-u.btn-brd.btn-u-blue:hover {
            color: #2980b9;
            border-color: #2980b9;
        }

        .btn-u.btn-brd.btn-u-blue.btn-brd-hover:hover {
            background: #2980b9;
        }

    .btn-u.btn-brd.btn-u-red {
        border-color: #e74c3c;
    }

        .btn-u.btn-brd.btn-u-red:hover {
            color: #c0392b;
            border-color: #c0392b;
        }

        .btn-u.btn-brd.btn-u-red.btn-brd-hover:hover {
            background: #c0392b;
        }

    .btn-u.btn-brd.btn-u-orange {
        border-color: #e67e22;
    }

        .btn-u.btn-brd.btn-u-orange:hover {
            color: #d35400;
            border-color: #d35400;
        }

        .btn-u.btn-brd.btn-u-orange.btn-brd-hover:hover {
            background: #d35400;
        }

    .btn-u.btn-brd.btn-u-sea {
        border-color: #1abc9c;
    }

        .btn-u.btn-brd.btn-u-sea:hover {
            color: #16a085;
            border-color: #16a085;
        }

        .btn-u.btn-brd.btn-u-sea.btn-brd-hover:hover {
            background: #16a085;
        }

    .btn-u.btn-brd.btn-u-green {
        border-color: #2ecc71;
    }

        .btn-u.btn-brd.btn-u-green:hover {
            color: #27ae60;
            border-color: #27ae60;
        }

        .btn-u.btn-brd.btn-u-green.btn-brd-hover:hover {
            background: #27ae60;
        }

    .btn-u.btn-brd.btn-u-yellow {
        border-color: #f1c40f;
    }

        .btn-u.btn-brd.btn-u-yellow:hover {
            color: #f39c12;
            border-color: #f39c12;
        }

        .btn-u.btn-brd.btn-u-yellow.btn-brd-hover:hover {
            background: #f39c12;
        }

    .btn-u.btn-brd.btn-u-default {
        border-color: #95a5a6;
    }

        .btn-u.btn-brd.btn-u-default:hover {
            color: #7f8c8d;
            border-color: #7f8c8d;
        }

        .btn-u.btn-brd.btn-u-default.btn-brd-hover:hover {
            background: #7f8c8d;
        }

    .btn-u.btn-brd.btn-u-dark {
        border-color: #555;
    }

        .btn-u.btn-brd.btn-u-dark:hover {
            color: #333;
            border-color: #333;
        }

        .btn-u.btn-brd.btn-u-dark.btn-brd-hover:hover {
            background: #333;
        }

    .btn-u.btn-brd.btn-u-light-grey {
        border-color: #585f69;
    }

        .btn-u.btn-brd.btn-u-light-grey:hover {
            color: #484f58;
            border-color: #484f58;
        }

        .btn-u.btn-brd.btn-u-light-grey.btn-brd-hover:hover {
            background: #484f58;
        }

    .btn-u.btn-brd.btn-u-purple {
        border-color: #9b6bcc;
    }

        .btn-u.btn-brd.btn-u-purple:hover {
            color: #814fb5;
            border-color: #814fb5;
        }

        .btn-u.btn-brd.btn-u-purple.btn-brd-hover:hover {
            background: #814fb5;
        }

    .btn-u.btn-brd.btn-u-aqua {
        border-color: #27d7e7;
    }

        .btn-u.btn-brd.btn-u-aqua:hover {
            color: #26bac8;
            border-color: #26bac8;
        }

        .btn-u.btn-brd.btn-u-aqua.btn-brd-hover:hover {
            background: #26bac8;
        }

    .btn-u.btn-brd.btn-u-brown {
        border-color: #9c8061;
    }

        .btn-u.btn-brd.btn-u-brown:hover {
            color: #81674b;
            border-color: #81674b;
        }

        .btn-u.btn-brd.btn-u-brown.btn-brd-hover:hover {
            background: #81674b;
        }

    .btn-u.btn-brd.btn-u-dark-blue {
        border-color: #4765a0;
    }

        .btn-u.btn-brd.btn-u-dark-blue:hover {
            color: #324c80;
            border-color: #324c80;
        }

        .btn-u.btn-brd.btn-u-dark-blue.btn-brd-hover:hover {
            background: #324c80;
        }

    .btn-u.btn-brd.btn-u-light-green {
        border-color: #79d5b3;
    }

        .btn-u.btn-brd.btn-u-light-green:hover {
            color: #59b795;
            border-color: #59b795;
        }

        .btn-u.btn-brd.btn-u-light-green.btn-brd-hover:hover {
            background: #59b795;
        }

    .btn-u.btn-brd.btn-u-light {
        color: #fff;
        border-color: #fff;
    }

        .btn-u.btn-brd.btn-u-light:hover {
            border-color: #fff;
        }

        .btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
            background: #fff;
            color: #555 !important;
        }

.btn-u-upper {
    text-transform: uppercase;
}

.btn-u-lg.btn-u-upper, a.btn-u-lg.btn-u-upper {
    font-size: 12px;
    font-weight: bold;
}

/* backstretch
------------------------------------*/
.backstretch {
    background-color: #3f647f;
}

/* Devider
------------------------------------*/
.devider.devider-solid {
    border-top: 1px solid #333;
}

.devider.devider-dotted {
    border-top: 1px dotted #333;
}

.devider.devider-dashed {
    border-top: 1px dashed #333;
}

/*--------------------------------------------------
	[9. Call To Action]
----------------------------------------------------*/
/*Call To Action v1
------------------------------------*/
.call-action-v1 h3 {
    letter-spacing: 1px;
}

.call-action-v1 p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0;
}

.call-action-v1.call-action-v1-boxed {
    padding: 0 25px;
}

.call-action-v1 .call-action-v1-box {
    width: 100%;
    display: table;
    padding: 30px 0;
    vertical-align: middle;
}

.call-action-v1 .call-action-v1-in {
    display: table-cell;
    vertical-align: middle;
}

    .call-action-v1 .call-action-v1-in.inner-btn {
        padding-top: 1px;
        min-width: 250px;
        text-align: right;
    }

@media (max-width: 992px) {
    .call-action-v1 .call-action-v1-in,
    .call-action-v1 .call-action-v1-in.inner-btn {
        display: block;
        text-align: center;
    }

        .call-action-v1 .call-action-v1-in p {
            margin-bottom: 20px;
        }
}

/*--------------------------------------------------
	[44. Back To Top]
----------------------------------------------------*/
#topcontrol {
    color: #fff;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #333;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}

    #topcontrol:after {
        top: -2px;
        left: 8.5px;
        content: "\f106";
        position: absolute;
        text-align: center;
        font-family: FontAwesome;
    }

    #topcontrol:hover {
        color: #fff;
        background: #3f647f;
        transition: all 0.3s ease-in-out;
    }

.g-social-icons-v2 {
    margin: 0;
    padding: 0;
}

    .g-social-icons-v2 li {
        list-style: none;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .g-social-icons-v2 a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        display: block;
        background: #fff;
        color: #3f647f;
        transition: all 0.3s ease-in-out;
    }

        .g-social-icons-v2 a:hover {
            background: #3f647f;
            color: #fff;
        }

        .g-social-icons-v2 a i {
            color: #3f647f;
        }

        .g-social-icons-v2 a:hover i {
            color: #fff;
        }

/* --------------------------------------------------
	[#. Header]
----------------------------------------------------  */
/* Header  */
@media (min-width: 768px) and (max-width: 991px) {
    .one-page-header .menu-container {
        width: 720px;
    }
}

@media (min-width: 768px) {
    .one-page-header .navbar-nav {
        padding: 0;
        position: relative;
        margin-top: 22px;
    }
}

@media (max-width: 991px) {
    .one-page-header .menu-container:before,
    .one-page-header .menu-container:after {
        content: " ";
        display: table;
    }

    .one-page-header .menu-container:after {
        clear: both;
    }

    .one-page-header > .navbar-default > .container {
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

        .one-page-header > .navbar-default > .container > .navbar-header,
        .one-page-header > .navbar-default > .container > .navbar-collapse {
            margin-left: 0;
            margin-right: 0;
        }
}

/* Logo  */
@media (max-width: 768px) {
    .one-page-header .navbar-brand {
        padding-left: 0;
    }
}

/* Navbar Toggle  */
.one-page-header .navbar-toggle {
    border: none;
    margin-right: 3px;
    padding-right: 0;
}

    .one-page-header .navbar-toggle:hover,
    .one-page-header .navbar-toggle:focus {
        background: none;
    }

/* Navbar  */
.one-page-header {
    background: #fff;
    border-color: #3f647f;
}

    .one-page-header .container {
        position: relative;
    }

    .one-page-header.top-nav-collapse .navbar-brand,
    .one-page-header.top-nav-collapse .navbar-nav > li > a,
    .one-page-header.top-nav-collapse .navbar-nav > li > a:before {
        color: #333;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .one-page-header .navbar-nav > li > a {
        color: #333;
        font-size: 12px;
        font-weight: bold;
        padding: 0 15px;
        overflow: hidden;
        position: relative;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

        .one-page-header .navbar-nav > li > a:hover,
        .one-page-header .navbar-nav > li > a:focus,
        .one-page-header .navbar-nav > li.active > a:hover,
        .one-page-header .navbar-nav > li.active > a:focus,
        .one-page-header .navbar-nav > li.active > a {
            color: #3f647f !important;
        }

@media (max-width: 1205px) {
    .one-page-header .navbar-nav > li > a {
        padding: 0 10px;
    }
}

/* Hover Effect  */
.one-page-header .navbar-nav > li > a span[data-hover] {
    color: #fff;
    position: relative;
    display: inline-block;
    transition: transform .4s;
}

    .one-page-header .navbar-nav > li > a span[data-hover]:before {
        top: 100%;
        position: absolute;
        content: attr(data-hover);
        transition: color .4s;
        transform: translate3d(0, 0, 0);
        font-weight: bold;
    }

.one-page-header .navbar-nav > li > a:hover span[data-hover] {
    transform: translate3d(0, -100%, 0);
    font-weight: normal;
}

.one-page-header .navbar-nav > .active > a span[data-hover],
.one-page-header .navbar-nav > .active > a:hover span[data-hover],
.one-page-header .navbar-nav > .active > a:focus span[data-hover],
.one-page-header .dropdown-menu > .active > a span[data-hover],
.one-page-header .dropdown-menu > .active > a:hover span[data-hover],
.one-page-header .dropdown-menu > .active > a:focus span[data-hover],
.one-page-header.top-nav-collapse .dropdown-menu > .active > a span[data-hover],
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:hover span[data-hover],
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:focus span[data-hover] {
    color: #3f647f;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 991px) {
    .one-page-header .navbar-nav > li > a span[data-hover]:before {
        content: "";
        display: none;
        top: 0;
    }

    .one-page-header .navbar-nav > li > a:hover span[data-hover] {
        transform: translate3d(0, 0, 0);
        transition: color .3s;
        color: #3f647f;
    }
}

/* Navbar Active  */
.one-page-header .navbar-nav > .active > a,
.one-page-header .navbar-nav > .active > a:hover,
.one-page-header .navbar-nav > .active > a:focus,
.one-page-header .dropdown-menu > .active > a,
.one-page-header .dropdown-menu > .active > a:hover,
.one-page-header .dropdown-menu > .active > a:focus,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:hover,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:focus {
    z-index: 1;
    background: none;
    font-weight: bold;
}

/* Responsive Navbar  */
@media (max-width: 991px) {
    /* Responsive code for max-width: 991px  */
    .one-page-header .navbar-header {
        float: none;
    }

    .one-page-header .navbar-toggle {
        display: block;
        margin: 15px 0 10px;
    }

    .one-page-header .navbar-collapse.collapse {
        display: none !important;
    }

        .one-page-header .navbar-collapse.collapse.in {
            display: block !important;
        }

    .one-page-header .navbar-nav {
        top: 0;
        margin: 0;
        padding: 10px 10px;
        float: none !important;
        /*background: rgba(0,0,0,.5);*/
    }

    .one-page-header.top-nav-collapse .navbar-nav {
        background: none;
        padding: 10px 0;
    }

    .one-page-header .navbar-nav > li {
        float: none;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 5px 0;
    }

        .navbar-default .navbar-nav > li > a::before {
            content: '';
        }
}

@media(min-width: 992px) {
    .one-page-header.navbar {
        padding: 14px 0 24px;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }

    /* Customize the look and feel of the collapsed top nav here  */
    .one-page-header.top-nav-collapse {
        padding: 7px 0 18px;
    }
}

@media (max-width: 768px) {
    .one-page-header .navbar-nav > li > a:before {
        content: "";
    }
}

/* Navbar  */
@media (min-width: 992px) {
    .one-page-header.navbar .navbar-nav {
        float: right;
    }

    .one-page-header-style-2.navbar .navbar-nav {
        float: left;
        margin-left: 25px;
    }
}

/* Dropdown Menu  */
.one-page-header .dropdown-menu,
.one-page-header.top-nav-collapse .dropdown-menu {
    border: none;
    background: none;
    box-shadow: none;
    float: none;
}

.one-page-header .navbar-nav a.dropdown-toggle {
    color: #3f647f !important;
}

.one-page-header.top-nav-collapse .navbar-nav a.dropdown-toggle {
    color: #777 !important;
}

.one-page-header .dropdown-menu .active > a,
.one-page-header .dropdown-menu li > a:hover {
    background: none;
    filter: none !important;
    transition: all .1s ease-in-out;
}

.one-page-header .dropdown-menu li > a:focus {
    background: none;
    filter: none !important;
}

@media (min-width: 992px) {
    .one-page-header .dropdown-menu,
    .one-page-header.top-nav-collapse .dropdown-menu {
        padding-top: 12px;
        min-width: 200px;
        border-radius: 0;
        z-index: 9999 !important;
        top: 100%;
    }

    .one-page-header.top-nav-collapse .dropdown-menu {
        padding-top: 7px;
    }

    .one-page-header .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
    }

    .one-page-header .open > .dropdown-menu {
        display: none;
    }

    .one-page-header .dropdown-menu > li {
        /*background: rgba(0,0,0,.4);*/
    }

    .one-page-header.top-nav-collapse .dropdown-menu > li {
        background: #3f647f;
    }

    .one-page-header .dropdown-menu > li:first-child {
        padding-top: 15px;
    }

    .one-page-header .dropdown-menu > li:last-child {
        padding-bottom: 15px;
    }

    .one-page-header .dropdown-menu > li > a {
        color: #3f647f;
        font-size: 13px;
        padding: 6px 25px;
    }

    .one-page-header.top-nav-collapse .dropdown-menu > li > a {
        color: #777;
    }

        .one-page-header.top-nav-collapse .dropdown-menu > li > a:hover {
            color: #3f647f;
        }
}

@media (max-width: 991px) {
    .one-page-header .dropdown-menu {
        position: relative;
    }

        .one-page-header .dropdown-menu a {
            color: #3f647f !important;
            padding: 10px 20px;
            background: none !important;
        }

    .one-page-header.top-nav-collapse .dropdown-menu > li > a {
        color: #777 !important;
    }

        .one-page-header .dropdown-menu a:hover,
        .one-page-header.top-nav-collapse .dropdown-menu > li > a:hover {
            color: #3f647f !important;
        }
}

/* Fixed Header  */
.one-page-header.top-nav-collapse {
    /*background: rgba(0,0,0,.5);*/
    box-shadow: none;
}

@media (max-width: 768px) {
    .one-page-header.top-nav-collapse {
        padding: 0;
    }
}

.one-page-header.top-nav-collapse .navbar-brand,
.one-page-header.top-nav-collapse .navbar-nav > li > a,
.one-page-header.top-nav-collapse .navbar-nav > li > a:before {
    color: #333;
}

.one-page-header.top-nav-collapse .navbar-brand {
    color: #3f647f !important;
}

/* Navbar Toggle  */
.one-page-header.navbar-default .navbar-toggle .icon-bar,
.one-page-header.top-nav-collapse .navbar-toggle .icon-bar {
    background: #333;
}

.one-page-header.navbar-default .navbar-toggle:hover .icon-bar,
.one-page-header.top-nav-collapse .navbar-toggle:hover .icon-bar {
    background: #3f647f;
}

/* Logo */
.navbar-brand > img,
.footer-logo > img {
    width: 236px;
    height: 50px;
    margin-top: -10px;
}

.footer-logo > img {
    opacity: .5;
}

/* --------------------------------------------------
	[#. Promo]
----------------------------------------------------  */
.fullscreen-static-image {
    background-color: #3f647f;
    padding: 200px 0;
}

.promo-block--cover {
    position: relative;
}

    .promo-block--cover:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(63,100,127,.2);
        content: "";
        z-index: 1;
    }

.promo-block__item {
    z-index: 2;
    color: #fff;
    padding: 60px 20px;
    letter-spacing: 3px;
    position: relative;
    /*background: rgba(20,17,44,.9);*/
    /* 	opacity: 0;
	transition: all 0.3s ease-in-out; */
}

    .promo-block__item:before {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        content: "";
        border: solid 1px rgba(255, 255, 255, .4);
    }

    .promo-block__item a:focus {
        text-decoration: none;
    }

.promo-block__item-text {
    display: block;
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 5px;
    /*text-transform: uppercase;*/
    color: #fff;
    line-height: 1.42857;
}

.promo-block__item-text1 {
    line-height: 25px;
}

/*--------------------------------------------------
    [About Section]
----------------------------------------------------*/

#about {
}

/*--------------------------------------------------
    [Projects Section]
----------------------------------------------------*/

#projects {
    background: #e7e7e7;
}

    /* Designing the first owl carousel */
    #projects .owl-carousel-v4 .owl-slider-v4 .item {
        text-align: center;
    }

        #projects .owl-carousel-v4 .owl-slider-v4 .item img {
            margin: 0 auto 30px;
            display: block;
            max-width: 600px;
            max-height: 360px;
        }

    #projects .owl-carousel-v4 .owl-h3 {
        font: 700 14px "Roboto", Arial, Sans-serif;
        text-transform: uppercase;
        /*color: #fff;*/
        margin: 0 0 20px;
        letter-spacing: 1px;
    }

    #projects .owl-carousel-v4 .owl-p {
        max-width: 50%;
        margin: 0 auto 40px;
    }

    #projects .owl-carousel-v4 .owl-a {
        color: #3f647f;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

        #projects .owl-carousel-v4 .owl-a:hover, #projects .owl-carousel-v4 .owl-a:focus,
        .award-a:hover, .award-a:focus {
            color: #3f647f;
        }

    /* Owl-carousel controls */
    #projects .owl-theme .owl-controls .owl-buttons div {
        padding: 13px 17px;
        color: #fff;
        background: #555;
        border-radius: 50%;
    }

        #projects .owl-theme .owl-controls .owl-buttons div:hover,
        #projects .owl-theme .owl-controls .owl-buttons div:focus {
            background: #3f647f;
        }

    #projects .owl-theme .owl-buttons i {
        margin-top: 2px;
    }

    #projects .owl-theme .owl-controls .owl-buttons div {
        position: absolute;
    }

    #projects .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10%;
        top: 35%;
    }

    #projects .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10%;
        top: 35%;
    }

@media (max-width: 991px) {
    #projects .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }

    #projects .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
}

@media (max-width: 768px) {
    #projects .owl-theme .owl-controls .owl-buttons .owl-prev {
        top: 80%;
    }

    #projects .owl-theme .owl-controls .owl-buttons .owl-next {
        top: 80%;
    }
}

/*--------------------------------------------------
    [Invest Section]
----------------------------------------------------*/

#invest {
}

/*--------------------------------------------------
    [Crew Section]
----------------------------------------------------*/

#crew {
}

    #crew .container {
        z-index: 1;
        position: relative;
    }

    #crew h2,
    #crew .h2 {
        color: #fff;
    }

.crew-start {
    background: #555;
    position: relative;
    color: rgba(255,255,255,.7);
    height: 385px;
    padding-top: 80px;
}

    .crew-start:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        position: absolute;
        /*background: rgba(56,51,57,.95);*/
    }

.crew-members {
    margin-top: -135px;
}

@media(max-width: 768px) {
    .crew-members {
        margin-top: -175px;
    }
}

.crew-member-wrapper {
    position: relative;
    border: 2px solid #555;
}

    .crew-member-wrapper img {
        width: 100%;
        height: auto;
    }

    .crew-member-wrapper div {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(63,100,127,.8);
        transition: all 0.3s ease-in-out;
    }

    .crew-member-wrapper:hover div {
        opacity: 1;
    }

.crew-member .g-social-icons-v2 {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

    .crew-member .g-social-icons-v2 li {
        margin: 0 5px 10px;
    }

    .crew-member .g-social-icons-v2 a:hover {
        background: #3f647f;
    }

.crew-member div em {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.4;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .crew-member div em:before {
        content: "\“";
        display: block;
        font-size: 36px;
        line-height: 1;
    }

.crew__role,
.crew__name,
.crew__position {
    display: block;
    line-height: 1;
}

.crew__role {
    color: #3f647f;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 15px;
}

.crew__name {
    font-size: 18px;
    margin-bottom: 15px;
}

.crew__position {
}

/*--------------------------------------------------
    [Contact Section]
----------------------------------------------------*/

#contact {
    background: #555;
    color: rgba(255,255,255,.7);
}

    #contact .address {
        text-transform: uppercase;
        margin-bottom: 40px;
    }

        #contact .address li {
            margin-bottom: 20px;
        }

        #contact .address strong {
            color: #fff;
        }

    #contact a {
        color: #fff;
    }

    #contact h2,
    #contact .h2 {
        color: #fff;
    }

        #contact h2 strong,
        #contact .h2 strong {
            /*color: #31353e;*/
        }

    #contact .sky-form {
        box-shadow: none;
        border: none;
    }

        #contact .sky-form fieldset {
            background: #555;
        }

        #contact .sky-form .input input,
        #contact .sky-form .textarea textarea,
        #contact .sky-form .input input:hover,
        #contact .sky-form .textarea textarea:hover,
        #contact .sky-form .input input:focus,
        #contact .sky-form .textarea textarea:focus {
            box-shadow: inset 5px 5px 5px #252930;
            border: none;
            background: #333;
            color: rgba(255,255,255,.7);
        }

        #contact .sky-form .textarea-expandable textarea,
        #contact .sky-form .textarea-expandable textarea:hover,
        #contact .sky-form .textarea-expandable textarea:focus {
            height: 125px;
        }

    #contact ::-webkit-input-placeholder {
        color: rgba(255,255,255,.7);
        opacity: 1;
    }

    #contact ::-moz-placeholder {
        color: rgba(255,255,255,.7);
        opacity: 1;
    }
    /* Firefox 19+ */
    #contact :-moz-placeholder {
        color: rgba(255,255,255,.7);
        opacity: 1;
    }
    /* Firefox 18- */
    #contact :-ms-input-placeholder {
        color: rgba(255,255,255,.7);
        opacity: 1;
    }

.contact-map {
    min-height: 680px;
}

.contact-col {
    padding: 0;
    min-height: 680px;
}

.contact-content {
    padding: 100px 50px;
    height: auto;
}

.contact-info {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 45px;
}
