<?xml version="1.0" encoding="utf-8"?>
<appSettings>

    <!-- Email service etc. settings vary on based on environment type -->
    <!-- Local | Test | Live -->
    <add key="Environment" value="Local" />

    <!-- Contact emails will be send from this address (leave it blank in case you don't want to get notifications) -->
    <add key="ContactEmailAddress" value="" />

    <!-- Notification emails will be send to this address (leave it blank in case you don't want to get notifications) -->
    <add key="NotificationEmailAddress" value="" />

</appSettings>
