@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>forCrowd Foundation</h1>
    <p class="lead">
        Crowd is the new boss!
        @*By the crowd, for the crowd open source software!*@
    </p>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objectives</h2>
        <p>forCrowd Foundation is a brand new organization that aims to develop open source applications that challenge social issues</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Wealth Economy</h2>
        <p>
            Our first application which is an experimental resource management system that aims to provide a more sustainable and productive economic model
        </p>
        <p><a class="btn btn-default" href="https://wealth.forcrowd.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p>Follow us to get the latest news!<br />&nbsp;<br />&nbsp;</p>
        <p><a class="btn btn-default" href="https://twitter.com/forCrowd" target="_blank">Follow us on Twitter &raquo;</a></p>
    </div>
</div>